<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Update User</h2>
    <form action="/Update" method="post">
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="username">ID:</label><br>
        <input type="text" id="ID" name="ID"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>